.container-big {
    width: auto;
    display: flex;
    justify-content: center;
}

.container {
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question {
    font-size: 32px;
}

#answer {
    background-color: white;
}